# Not common
tests_tmp
spectronaut
Agrs.xlsx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.env/
env.bak/
venv.bak/

# Python build / packaging
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
nosetests.xml
*,cover

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IDEs and editors
.vscode/
*.code-workspace

# Miscellaneous
__pypackages__/
.mypy_cache/
.pyre/
.pytype/
.cache/
celerybeat-schedule
*.log

# OS files
.DS_Store
Thumbs.db